<a href="https://colab.research.google.com/github/cognitedata/TEKNA-WorkShop-PredictiveMaintenance/blob/master/TEKNA_winding_temp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pylab notebook
import pandas as pd
import datetime as dt

Populating the interactive namespace from numpy and matplotlib

In [0]:
url = 'https://raw.githubusercontent.com/cognitedata/TEKNA-WorkShop-PredictiveMaintenance/master/data_winding_temp.csv'
df = pd.read_csv(url)

In [3]:
df.head()

       timestamp   stator_u   stator_v   stator_w         speed
0  1512086400000  51.598788  54.152083  50.854405  10062.486783
1  1512087300000  51.581399  54.152083  50.858611  10062.623458
2  1512088200000  51.566755  54.147916  50.849778  10061.890669
3  1512089100000  51.594999  54.176974  50.891986  10069.210826
4  1512090000000  51.573844  54.125803  50.892645  10064.812260

In [0]:
anomalies = [
    [1518192781296, 1518195966042],
    [1518310590356, 1518312554282],
    [1520083432249, 1520087280484],
    [1520105141601, 1520109281770],
    [1524064172374, 1524074504163],
    [1524196294857, 1524197917651],
    [1524222097282, 1524227344316]
]